.ant-steps-item-icon{
    width: 42px;
    height: 42px;
    border-radius: 100%;
    line-height: 42px;
    font-size:20px
}
.ant-steps-item-title{
    font-size: 20px;
    font-weight: 600;
}
.ant-steps-item-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.ant-divider-horizontal{
    margin: 12px 0;
}