@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    position: relative;
  }

  .link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    transition: all 0.5s;
  }

  .link.active::before {
    width: 100%;
  }

  .link:hover::before {
    width: 100%;
  }

  .button {
    position: relative;
    overflow: hidden;
  }

  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    display: block;
    background-color: #ec7532;
    transform: skewX(30deg) translateX(-110%);
    transition: all 0.5s;
  }

  .button:hover::before {
    transform: skewX(30deg) translateX(-10%);
  }

  .image {
    overflow: hidden;
  }

  .image:hover > .image-overlay {
    transform: skewX(30deg) translateX(-25%);
  }

  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(to bottom, #fbbd61, #ec7532);
    opacity: 0.9;
    transform: skewX(30deg) translateX(-150%);
    transition: all 0.5s;
  }
  .signin{
    width: 600px;
    height: 700px;
    
    border-radius: 6px;
    background-image: linear-gradient(to bottom,#1876fa00,rgba(14, 56, 134, 0.9));
    /* background-color: #ec7532; */
  }
  .form-group{
    margin-bottom: 1rem;
    color:#f8f9fa;
  }
  .form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .alert{
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  .alert-danger{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  .login{
    background-image: linear-gradient(to bottom,#1876fa00,rgba(14, 56, 134, 0.9));
  }
  .makeStyles-search-57{
    width: 100%;
    bottom: 0;
    height: 83px;
    margin: 30px auto 0px;
    max-width: 940px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
  }
  .tabButton {
    height: 24px;
    align-items: center;
    transition: all 0.2s;
    font-weight: 500;
    line-height: 24px;
    justify-content: center;
    cursor: pointer;
}
.overlay{
  background: linear-gradient(to top, #000, transparent 100%);
  display: none
}
.group:hover .overlay{
  display: block;
}

}
